mixin headerIcon(text, icon)
    p.md-subhead.page-subhead&attributes(attributes)
        i.fa.fa-lg(class=icon)
        = text

mixin categoryRow(title)
    .category-row(flex)
        if title
            h4.category-row-title= title
        block

mixin sideCategory(title)
    .category&attributes(attributes)
        h5.category-row-title= title
        block

mixin category(title, subtitle)
    .category&attributes(attributes)
        if title
            h5.category-title.md-body-2= title
            
        if subtitle
            | &nbsp;
            h5.category-subtitle.md-caption= subtitle
        
        ul.category-bullets
            block

.resume
    section.main
        .header
            .page-title-container
                h1.page-title.page-title-first Ryan
                h1.page-title.page-title-last Delaney
            
            .header-icons
                +headerIcon('rdel.io', 'fa-code')
                +headerIcon('516-281-6378', 'fa-phone')
                +headerIcon('delanr3@rpi.edu', 'fa-envelope')
                +headerIcon('rrdelaney', 'fa-github')

        div(layout='row')
            div(flex='20')
                +categoryRow
                    +sideCategory('Education')
                        p Rensselaer Polytechnic Institute
                        p Graduating June 2016
                        p Computer Science
                        p Computer Systems Engineering
                        p GPA - 3.23
                
                +categoryRow
                    +sideCategory('Achivements')
                        p HackMIT Finalist F2015
                        p Best UI @ HackMIT 2015
                        p Best Accenture Training Vision @ HopHacks F2015
                        p 4th place at msft3c coding competition
                        p Rensselaer Medal Award
                        
                +categoryRow
                    +sideCategory('Coursework').no-bottom
                        p Data Structures
                        p Algorithms
                        p Signals &amp; Systems
                        p Foundations of Computer Science
                        p Programming Languages
                        p Operating Systems
            
            div(flex='80')
                +categoryRow('Professional Experience')
                    +category('Senior Developer', 'Rensselaer Union (Fall 2013 - Present)')
                        li Working on a new Club Management System for the Student Union
                        li Work on a team with several other developers managing workflow with Git
                        li Created the UI/UX for the web application
                        li Designed a responsive web app in collaboration with other developers to complete features and fix bugs
                        
                    +category('Software Engineering Intern', 'Datto (Summer 2015)')
                        li Developed on an existing codebase to add new features and fix bugs
                        li Used PHP to render client-facing UI and interact the lower-level filesystem
                        li All code was accompanied with unit tests and negative tests
                        li Worked in a scrum environment and used agile methods to complete goals
            
                    +category('Software Engineering Intern', 'Power Management Concepts (Summer 2014)')
                        li Developed RESTful to run analytics on a large database of readings from mission critical machines
                        li Predicted when machines would fail, need replacement, and need more power
                        li Project involved machine learning and predictive analytics on big data
                        li Responsibilities included meeting deadlines for features, code documenation, and integrating code into the existing system
                            
                +categoryRow('Projects')
                    +category('Jadelint', 'github.com/rrdelaney/jadelint')
                        li Static analysis tool for Jade templating language
                        li Uses continous integration, auto documentation, unit testing, code coverage
                        li Used in several plugins, versioning and compatibility and is important
                    
                    +category('Electronics Team Lead', 'Rensselaer Electric Vehicle (Fall 2013 - Spring 2015)')
                        li Design, build, and test an electronics system for an all-electric car
                        li Manage the electrical team, including budgeting, design reviews and delegating
                        li Develop web app to hook into real-time data from systems on the car
                            
                +categoryRow('Skills')
                    +category('Web Development')
                        li #[strong UX] Enjoy designing clean, responsive, and mobile UX
                        li #[strong Distributed Systems] Interested in designing concurrent &amp; parallel software
                        li #[strong Tooling] CI, static analysis, management tools, build tools, testing &amp; coverage
                    
                    +category('Technologies').no-bottom
                        li #[strong Experienced With] Web &amp; Hybrid App Development \ Functional Programming
                        li #[strong Programming] Javascript \ Scala \ Python \ PHP \ C \ Java
                        li #[strong Databases] MongoDB \ MySQL \ PostgreSQL \ Redis
