mixin letter(display)
    span.letter.fadeIn(ng-class='animationEnabled ? "animated" : ""')= display
    
mixin line(display)
    h3.line.fadeInUp(ng-class='animationEnabled ? "animated" : ""')= display
    
mixin fab(icon, text)
    md-button.md-fab.fadeIn(ui-sref=sref ng-class='animationEnabled ? "animated" : ""')&attributes(attributes)
        md-icon.fa.fa-2x(md-font-icon=icon)
        md-tooltip= text
    
.home
    .main
        .name
            .word
                +letter('R')
                +letter('Y')
                +letter('A')
                +letter('N')
            .word
                +letter('D')
                +letter('E')
                +letter('L')
                +letter('A')
                +letter('N')
                +letter('E')
                +letter('Y')
            
        .description
            +line('SOFTWARE ENGINEER')
            +line('WEB DEVELOPER')
            +line('SLEEP DEPRIVED')
            
    .buttons
        +fab('fa-file-text', 'Resume')(ui-sref='resume')
        +fab('fa-pencil', 'Blog')(ui-sref='blog')
        +fab('fa-github', 'Github')(href='https://github.com/rrdelaney')
